<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>登录「问答」</title>

        <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">

        <link rel="stylesheet" href="/styles/header.css" >
        <link rel="stylesheet" href="/styles/sign.css" >
        <link rel="stylesheet" href="/styles/footer.css" >

    </head>
    <body>

        #parse( "/pages/header.vm")

        <div class="sign-container">

            <div class="boundary"></div>

            <div class="sign">

                <p>欢迎登录「问答」</p>

                <form action="/user/sign/in" method="post" >

                    <div class="row">
                        <div>
                            <label> <i class="fa fa-user-o"></i> </label>
                            <span> <input type="text" name="loginName" placeholder="请输入登录名称" value="$!{loginName}"> </span>
                        </div>
                        #if( $loginNameError )
                            <p> ${loginNameError} </p>
                            ${session.removeAttribute( 'loginNameError' )}
                        #end
                    </div>

                    <div class="row">
                        <div>
                            <label> <i class="fa fa-key"></i> </label>
                            <span> <input type="password" name="password" placeholder="请输入密码">  </span>
                        </div>
                        <p></p>
                    </div>

                    <div class="captcha-row">
                        <div>
                            <span>  <input type="text" name="captcha" placeholder="请输入验证码">  </span>
                            <span>  <img src="/captcha/produce" >  </span>
                        </div>
                        <p>$!{captchaError}</p>
                    </div>

                    <div class="buttons">
                        <input type="reset" value="重置" >
                        <input type="submit" value="登录" >
                    </div>
                </form>
                <div class="links">
                    <a href="/">返回首页</a>
                    |
                    <a href="/pages/sign-up.vm" >注册</a>
                </div>
            </div>

            <div class="boundary"></div>

        </div>

        #parse( "/pages/footer.vm")

        <script type="text/javascript" src="/scripts/captcha-refresh.js" ></script>

    </body>
</html>